.container {
    font-size: 3.0vw;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}

p > img {
    width: 100%;
    border: 1px solid grey;
}

table {
    width: 100%;
}

td > img {
    width: 100%;
}
