.container {
    font-size: 2.0vw;
    width: 30em;
    text-align: justify;
    margin: 0 auto;
}

p > img {
    width: 100%;
    border: 1px solid grey;
}

table {
    width: 100%;
}

td > img {
    width: 100%;
}
